.DateRangePicker_picker__directionLeft {
  z-index: 9999 !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding:8px 0px !important;
}
.mapContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popupElement {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color:white;
  color: black;
}
.tooltipHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.geoFencing {
  height: 1.5rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid;
  background-color: #000000;
  color: white;
  font-weight: 600;
  transition: 0.2s;
}

.geoFencing:hover {
  color: #000000;
  background-color: #fff;
}

.InfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: black; */
  /* padding-top: 30px; */
  border-radius: 8px;
  overflow: hidden;
  /* background: linear-gradient(135deg, #f6e5c1, #c4bfbf); */
  margin: 0px 8px;
  /* margin-top: 15px */
  
}

.leaflet-popup-content-wrapper {
  z-index: 500; /* Lower z-index */
background-color: white;
  /* background-color: #dff1f4 !important; */
  min-width: 223px !important;
}

.leaflet-tooltip {
  background-color: white;
  color: black;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1000; /* Ensure tooltip is on top */
}

.leaflet-popup-tip {
  background: none;
  border: none;
}

.popup {
  font-size: 1.1rem;
  max-width: 300px;
  z-index: 300; /* Lower z-index */
}

.tooltipNamePlate {
  display: flex;
  align-items: center;
  /* border: 3px solid black; */
  border-radius: 8px;
  overflow: hidden;
  /* background-color: pink; */
  height: 2.3rem;
  gap: 63px;
}

.tooltipNamePlate div {
  padding: 7px 8px;

  color: black;
}

.tooltipNamePlate div p {
  padding: 0;
  margin: 0;
}

.ind {
  border-right: 3px solid black;
  background-color: #98c8e4;
}
/* .name {
  background-color: #fde9a4;
} */

.custom-icon {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 45px;
}
.newclass{
  background-color: "#f4d24a" !important;
}
.css-v0pjtz-MuiStack-root{
margin-left: 41.1rem;
}
.custom-pointer-icon {
  font-size: 14px;
}
/* .indcardind{
  background-color: #f4d24a;
} */

.indexgeofence{
  border-radius: 5px;
  
}
