/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background: linear-gradient(45deg, #ce1e53, #8f00c7); */
    min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

.wrapper {
    max-width: 800px;
    /* margin: 80px auto; */
    /* padding: 30px 45px; */
    box-shadow: 5px 25px 35px #3535356b;
}

.wrapper label {
    display: block;
    padding-bottom: 0.2rem;
}

.wrapper .form .row {
    padding: 0.6rem 0;
}

.wrapper .form .row .form-control {
    box-shadow: none;
    font-size: 1rem;
    padding: 11px;
    /* text-align: center; */
}

.wrapper .form .option {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}


.wrapper .form .option input {
    opacity: 0;
}

.wrapper .form .checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #bbb;
    border-radius: 50%;
}

.wrapper .form .option input:checked~.checkmark:after {
    display: block;
}

.wrapper .form .option:hover .checkmark {
    background: #f3f3f3;
}

.wrapper .form .option .checkmark:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: #def01a;

    /* background: linear-gradient(45deg, #ce1e53, #8f00c7); */
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s;
}

.wrapper .form .option input[type="radio"]:checked~.checkmark {
    background: #fff;
    transition: 300ms ease-in-out 0s;
}

.wrapper .form .option input[type="radio"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1);
}

#sub {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    color: #333;
}

#sub:focus {
    outline: none;
}
.login-fix{
    display: flex;
    flex-direction:row;
    }
    .yellow-back{
        background-color: #def01a;
        height: 100vh;
        width: 40vw;
        display: flex;
        justify-content:center;
        align-items:center;
    
    }
    .logo-login img{
        width:250px;
        height: 85px;
    }
    .white-back{
        /* background-color: pink; */
        width: 55vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    
.mybutton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:25px;

}
.mybutton button{
    background-color: #def01a;
    color: black;
    text-decoration: none;
    width: 110px;
    height: 50px;
    font-size: larger;
}
.login-heading{
   text-align: center;
   padding: 15px 0;
}
.login-formm{
    height: 'min-height';
    
}
.formmm{
    height: min-content;
    margin-top: 0;
   
}
.form1{
    padding: 10px 5px;
    width: 28vw;
}
.form-outline input{
    width:'97%';
    margin: 0px 3px;
}
@media(max-width: 768.5px) {
    .wrapper {
        margin: 30px;
    }

    .wrapper .form .row {
        padding: 0;
    }
    .yellow-back{
        height: 40vh;
        width: 100vw;
        position: relative;
    }
    .login-fix{
        flex-direction:column;
        }
        .login-formm{
           width:90vw;
             height:min-content;
             top: 32%;
             position: absolute;
        }
        .white-back{
            /* background-color: pink; */
            width: 100vw;
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items:center;
        }
}

@media(max-width: 400px) {
    .wrapper {
        padding: 25px;
        margin: 20px;
    }
    .yellow-back{
        height: 40vh;
        width: 100vw;
        position: relative;
    }
    .login-fix{
        flex-direction:column;
        }
        .login-form{
           width:90vw;
             height:70vh;
             top: 32%;
             position: absolute;
        }
        .white-back{
            /* background-color: pink; */
            width: 100vw;
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items:center;
        }
}