/* .hover-underline:hover {
    text-decoration: underline;
} */
.css-1ex1afd-MuiTableCell-root {
    border: 1px solid black ;
    background-color: #fff ;
    border-top: 0px !important;
    border-right: 0px !important;
}
td{
    display: flex;
    justify-content: center;
    align-items: center;
}